data=./images/
split-dir=./split/mini/
save-path=./result_2021/conv4_epoch100_same_trmean
logname=03_31_epoch100_same_trmean.log
arch=conv4
lr=0.001
num-classes=64
batch-size=256
epochs=100
optimizer=Adam
meta-val-interval=10
meta-val-shot=5
workers=40
scheduler=multi_step
print-freq=50

seed=0
ce-train
