data=./images/
split-dir=./split/mini/
save-path=./result_2021/test
logname=04_06_1-shot_tr_mean_only.log
arch=conv4
lr=0.001
num-classes=64
batch-size=256
epochs=10
optimizer=Adam
meta-val-interval=10
meta-val-shot=5
workers=40
scheduler=multi_step
print-freq=50

seed=0
ce-train

pretrain=./result_2021/epoch_90
do-imbal-train
do-imbal-eval

imbal-iter=250
imbal-shot=1
imbal-way=5