data=./images/
split-dir=./split/mini/
save-path=./result_mini_paper
logname=test.log
arch=resnet18
lr=0.1
num-classes=64
batch-size=256
epochs=100
optimizer=SGD
meta-val-interval=10
meta-val-shot=5
workers=40
scheduler=multi_step
print-freq=50

seed=0
ce-train

pointing-aug-eval

data-type = miniImageNet