data=./images/
split-dir=./split/mini/
save-path=./result/experiment
logname=experiment.log
arch=conv4
epochs=90
scheduler step
optimizer=Adam
workers=20
lr=0.002
lr-stepsize=5
lr-gamma=0.5
do-meta-train
meta-train-iter=400
meta-train-shot=5
meta-train-way=5
meta-val-shot=5
meta-val-interval=10
disable-train-augment
seed=0
analyze
anlz-iter=1000
