data=./images/
split-dir=./split/mini/
save-path=./result_2/backup
logname=test.log
arch=conv4
lr=0.001
num-classes=64
batch-size=256
epochs=100
optimizer=Adam
meta-val-interval=1
meta-val-shot=1
workers=40
scheduler=multi_step
seed=0

meta-test-iter=500


print-freq=50
triplet-batch= 300
triplet-iter= 150
triplet-rand

evaluate

ce-train

